In [18]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.orm import Session

Extract CSVs into DataFrames

In [2]:
hospital_beds_file = "hospital_beds_USA_v1.csv"
hospital_beds_df = pd.read_csv(hospital_beds_file)
hospital_beds_df.head()

,country,state,State Name,county,lat,lng,type,measure,beds,population,year,source,source_url
0,US,AK,Alaska,aleutians east,63.588753,-154.493062,ICU,1000HAB,0.000000,3338,2019,khn,https://khn.org/news/as-coronavirus-spreads-wi...
1,US,AK,Alaska,aleutians west,63.588753,-154.493062,ICU,1000HAB,0.000000,5784,2019,khn,https://khn.org/news/as-coronavirus-spreads-wi...
2,US,AK,Alaska,anchorage,63.588753,-154.493062,ACUTE,1000HAB,2.182916,298225,2018,arcgis,https://services1.arcgis.com/Hp6G80Pky0om7QvQ/...
3,US,AK,Alaska,anchorage,63.588753,-154.493062,ICU,1000HAB,0.244782,298225,2019,khn,https://khn.org/news/as-coronavirus-spreads-wi...
4,US,AK,Alaska,anchorage,63.588753,-154.493062,OTHER,1000HAB,0.191131,298225,2019,arcgis,https://services1.arcgis.com/Hp6G80Pky0om7QvQ/...

In [3]:
hospital_beds_df=hospital_beds_df[['state', 'State Name', 'county', 'type', 'beds', 'population']]
hospital_beds_df.head()

  state State Name          county   type      beds  population
0    AK     Alaska  aleutians east    ICU  0.000000        3338
1    AK     Alaska  aleutians west    ICU  0.000000        5784
2    AK     Alaska       anchorage  ACUTE  2.182916      298225
3    AK     Alaska       anchorage    ICU  0.244782      298225
4    AK     Alaska       anchorage  OTHER  0.191131      298225

In [4]:
covid_counties_file = "us_counties_covid19_daily.csv"
covid_counties_df = pd.read_csv(covid_counties_file)
covid_counties_df.head()

        date     county state  State Name     fips  cases  deaths
0  1/21/2020  Snohomish    WA  Washington  53061.0      1       0
1  1/22/2020  Snohomish    WA  Washington  53061.0      1       0
2  1/23/2020  Snohomish    WA  Washington  53061.0      1       0
3  1/24/2020       Cook    IL    Illinois  17031.0      1       0
4  1/24/2020  Snohomish    WA  Washington  53061.0      1       0

In [5]:
covid_states_file = "us_states_covid19_daily.csv"
covid_states_df = pd.read_csv(covid_states_file)
covid_states_df.head()

,date,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20200628,AK,883.0,107417.0,NaN,12.0,NaN,NaN,NaN,1.0,...,108300,0,0,61f0e987f53033504c83b57eba92ca6b8301f82f,0,0,0,0,0,NaN
1,20200628,AL,35441.0,350839.0,NaN,655.0,2703.0,NaN,790.0,NaN,...,386280,0,6,e77ed44903fbc89d23369bddb764747fb22c1846,0,0,0,0,0,NaN
2,20200628,AR,19310.0,271912.0,NaN,278.0,1373.0,NaN,NaN,63.0,...,291222,10,36,cf7dc4fed80d9e5f146805466ac46a86be03500e,0,0,0,0,0,NaN
3,20200628,AS,0.0,696.0,NaN,NaN,NaN,NaN,NaN,NaN,...,696,0,0,bc0c828812911b6e21564bbad527eb4166b21808,0,0,0,0,0,NaN
4,20200628,AZ,73908.0,435988.0,NaN,2691.0,4617.0,666.0,NaN,475.0,...,509896,9,22,73307373c5264afa2c0253610ab1260dbbdbec76,0,0,0,0,0,NaN

In [6]:
covid_states_df = covid_states_df[['date', 'state', 'positive', 'negative', 'pending','hospitalizedCurrently', 
                                   'hospitalizedCumulative', 'inIcuCurrently', 'inIcuCumulative', 'onVentilatorCurrently',
                                   'onVentilatorCumulative', 'recovered', 'death', 'hospitalized', 'totalTestsViral',
                                   'positiveTestsViral', 'negativeTestsViral', 'positiveCasesViral', 'positiveIncrease', 
                                   'negativeIncrease', 'total', 'totalTestResults', 'totalTestResultsIncrease', 'posNeg', 
                                   'deathIncrease', 'hospitalizedIncrease']]
covid_states_df.head()

,date,state,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,negativeTestsViral,positiveCasesViral,positiveIncrease,negativeIncrease,total,totalTestResults,totalTestResultsIncrease,posNeg,deathIncrease,hospitalizedIncrease
0,20200628,AK,883.0,107417.0,NaN,12.0,NaN,NaN,NaN,1.0,...,NaN,NaN,29,2690,108300,108300,2719,108300,0,0
1,20200628,AL,35441.0,350839.0,NaN,655.0,2703.0,NaN,790.0,NaN,...,NaN,34964.0,358,1896,386280,386280,2254,386280,0,6
2,20200628,AR,19310.0,271912.0,NaN,278.0,1373.0,NaN,NaN,63.0,...,NaN,19310.0,570,6687,291222,291222,7257,291222,10,36
3,20200628,AS,0.0,696.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0,0,696,696,0,696,0,0
4,20200628,AZ,73908.0,435988.0,NaN,2691.0,4617.0,666.0,NaN,475.0,...,NaN,73497.0,3857,11292,509896,509896,15149,509896,9,22

In [7]:

state_hospital_beds_df = hospital_beds_df.groupby('State Name').sum()
state_hospital_beds_df.head()

                  beds  population
State Name
Alabama     213.257766    14541595
Alaska       28.986550     1934670
Arizona      27.209210    24673886
Arkansas    192.144910     7324935
California  173.787152   142663025

In [8]:
locations_df = pd.merge(covid_counties_df, covid_states_df, on='state')
locations_df = locations_df[['date_y', 'county', 'State Name', 'state', 'fips']]
locations_df.head()

     date_y     county  State Name state     fips
0  20200628  Snohomish  Washington    WA  53061.0
1  20200627  Snohomish  Washington    WA  53061.0
2  20200626  Snohomish  Washington    WA  53061.0
3  20200625  Snohomish  Washington    WA  53061.0
4  20200624  Snohomish  Washington    WA  53061.0

In [9]:
locations_df.rename(columns={"date_y": "date"}, inplace=True)
locations_df.head()

       date     county  State Name state     fips
0  20200628  Snohomish  Washington    WA  53061.0
1  20200627  Snohomish  Washington    WA  53061.0
2  20200626  Snohomish  Washington    WA  53061.0
3  20200625  Snohomish  Washington    WA  53061.0
4  20200624  Snohomish  Washington    WA  53061.0

In [22]:
connection_string = "postgres:postgres@localhost:5432/covid_db"
engine = create_engine(f'postgresql://{connection_string}')
connection = engine.connect()
session = Session(bind=connection)

In [11]:
engine.table_names()

['locations']

In [26]:
session.execute('select * from locations').fetchall()

[]

In [25]:
locations_df.to_sql(name='locations', con=engine, if_exists='append', index=True)

KeyboardInterrupt: